.odd {
  background-color: rgb(221, 60, 82);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}
#second {
  color: rgb(17, 153, 231);
  font-size: 36px;
}
.odd.third {
  font-size: 24px;
}
#fourth {
  background-color: rgb(103, 218, 103);
  font-weight: bold;
  font-size: 24px;
}
